body {
    margin: 0px;
    background: linear-gradient(90deg, #0A0A2C 0.35%, #280C34 99.64%);
}

h1 {
    margin-top: 0px;
}

.landing {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.logo-p {
    color: white;
  }

  .main-page {
    padding-top: 20vh;
    color: white;
  }

  
  .header-area {
    position: fixed;
    top: 30px;
    left: 5vh;
    right: 5vh;
    z-index: 100;
    height: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .header-area .main-nav {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #1B1729;
  }
  
  .header-area .main-nav .logo {
    float: left;
    margin-top: 37px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
  }
  
  .header-area .main-nav .logo img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-left: 0px;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header-area .main-nav .nav li:last-child {
    padding-right: 0px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .header-area .main-nav .nav li a:hover {
    color: #9824D0;
  }
  
  .header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
  }
  
  .header-area .main-nav .menu-trigger span,
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: white;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: white;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    content: "";
  }
  
  .header-area .main-nav .menu-trigger span {
    top: 16px;
  }
  
  .header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
  }
  
  .header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
  }
  
  .header-area .main-nav .menu-trigger.active span,
  .header-area .main-nav .menu-trigger.active span:before,
  .header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
  }
  
  .header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #4A8FE3;
  }
  
  .header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #4A8FE3;
  }
  
  .header-area.header-sticky {
    min-height: 80px;
  }
  
  .header-area.header-sticky .logo {
    margin-top: 25px;
  }
  
  .header-area.header-sticky .nav {
    margin-top: 20px !important;
  }
  
  .header-area.header-sticky .nav li a {
    color: white;
  }
  
  .header-area.header-sticky .nav li a.active {
    color: #8805AB;
  }
  

  .bvp-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }



  .line1 {
    font-size: 65px;
    font-weight: bold;
    margin: 0px 0px 40px;
  }

  .line2 {
    font-size: 40px;
    margin: 0px 0px 40px;
  }

  .info {
    font-size: 20px;
    line-height: 40px;
    margin: 0px 0px 40px;
  }

  .register {
    border-radius: 40px;
    background: var(--rndo, linear-gradient(90deg, #2F99FF 0%, #4A8FE3 17.6%, #4A8FD4 39.1%, #537ED2 60%, #9346D3 78.5%, #A037AB 100%));
    height: 75px;
    width: 250px;
    font-size: 20px;
    border: none;
    font-weight: bolder;
  }

  .features-page {
    padding-top: 75px;
    color: white;
  }

  .features-header {
    text-align: center;
    width: 100%;
    height: auto;
  }

  .features-h1 {
    font-size: 65px;
    font-weight: bolder;
  }

  .features-p {
    font-size: 20px;
  }

  .features-image-1 {
    width: 270px;
    height: 270px;;
  }
  .features-image-2 {
    width: 350px;
    height: 270px;;
  }
  .features-image-3 {
    width: 350px;
    height: 270px;;
  }
  .features-image-4 {
    width: 270px;
    height: 270px;;
  }
  .features-image-5 {
    width: 270px;
    height: 270px;;
  }

  .features {
    text-align: center;
  }

  .square-number {
    height: 30px;
  }

  .features-text {
    font-size: 23px;
    margin-top: 20px;
  }

  .home-text {
    padding: 40px;
  }

  .middle-feature {
    padding: 0px;
  }

  .timeline-page {
    color: white;
  }

  .timeline-header {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 40px 0px;
    padding: 0px 30px;
  }

  .timeline-h1 {
    font-size: 65px;
    font-weight: bolder;
  }

  .timeline-p {
    font-size: 20px;
  }


  .timeline{
    position:relative;
    margin:50px auto;
    padding:40px 0;
    width:1000px;
    box-sizing:border-box;
  }
  .timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
  }
  .timeline ul{
    padding:0;
    margin:0;
  }
  .timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  .content{
    padding-bottom:20px;
  }
  .timeline ul li:nth-child(odd):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:#AB23D2;
    border-radius:50%;
    box-shadow:0 0 0 3px #AB23D2;
  }
  .timeline ul li:nth-child(even):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:#AB23D2;
    border-radius:50%;
    box-shadow:0 0 0 3px #AB23D2;
  }
  .timeline ul li h3{
    padding:0;
    margin:0;
    color:#AB23D2;
    font-weight:600;
  }
  .timeline ul li p{
    margin:10px 0 0;
    padding:0;
  }
  .timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
  }
  .timeline ul li:nth-child(odd) .time
  {
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:#AB23D2;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px #AB23D2;
  }
  .timeline ul li:nth-child(even) .time
  {
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:#AB23D2;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px #AB23D2;
  }

  .speakers {
  padding-top: 40px;
    color: white;
  }

  .speakers-header {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 40px 0px;
    padding: 0px 30px;
  }

  .speakers-h1 {
    font-size: 65px;
    font-weight: bolder;
  }

  .speakers-p {
    font-size: 20px;
  }

  .speaker-table {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .register-link {
    text-decoration: none;
    color: white;
  }


  @media(max-width:1000px)
  {
    .timeline{
      width:100%;
    }
  }
  @media(max-width:767px){
    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
      top:-18px;
      left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
      top:-30px;
      left:50px;
      right:inherit;
    }
  }



  @media (max-width: 1200px) {
    .header-area .main-nav .nav li {
      padding-left: 12px;
      padding-right: 12px;
    }
    .header-area .main-nav:before {
      display: none;
    }
  }
  
  @media (max-width: 1100px) {

    .main-page {
      padding-top: 15vh;
    }

    .header-area {
      padding: 0px 15px;
      height: 80px;
      box-shadow: none;
      text-align: center;
    }
    h1.power{
      font-size: 7vw;
      font-weight: 400;
    }
    
    p.power{
      font-size: 3.25vw;
      font-weight: 100;
    }
    .header-area .container {
      padding: 0px;
    }
    .header-area .logo {
      margin-top: 27px !important;
      margin-left: 30px;
    }
    .header-area .menu-trigger {
      display: block !important;
    }
    .header-area .main-nav {
      overflow: hidden;
    }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      margin-top: 80px !important;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
      margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }
    .header-area .main-nav .nav li {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
      height: 50px !important;
      line-height: 50px !important;
      padding: 0px !important;
      border: none !important;
      background: #fff !important;
      color: #3B566E !important;
    }
    .header-area .main-nav .nav li a:hover {
      background: #eee !important;
    }

    .person-image {
      width: 350px;
    }

    .bvp-logo {
      width: 95%;
    }

    body {
      align-items: center;
      text-align: center;
    }

    .line1 {
      font-size: 45px;
    }

    .line2 {
      font-size: 25px;
    }

    .info {
      font-size: 20px;
      line-height: 25px;
      text-align: center;
    }

    .speaker-table {
      width: 300px;
    }

    .features-h1, .timeline-h1, .speakers-h1 {
      font-size: 50px;
    }
    
    
  }
  
  @media (min-width: 992px) {
    .header-area .main-nav .nav {
      display: flex !important;
    }
  }